.Psychedlic__hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  margin-top: -5rem;

  video {
    min-width: 100% !important;
    max-width: 100% !important;
    max-width: none !important;

    z-index: -1;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.Psychedlic__overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  color: white;

  //   fixing the font size of the specific hero header
  @media (width < 1000px) {
    .hero__header {
      font-size: var(--font-size-heading-regular);

      span {
        font-size: var(--font-size-heading-md);
      }
    }
  }
  @media (width < 760px) {
    .hero__header {
      font-size: var(--font-size-heading-regular);

      span {
        font-size: var(--font-size-heading-md);
      }
    }
  }
}

.header.psychedlic {
  position: relative;
  z-index: 100000;
}

.card-psych {
  padding: 1rem;
  background-color: var(--background-light);
  border-radius: var(--border-radius-3);
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--grid-flow-space, 1rem);
  img {
    border-radius: var(--border-radius-2);
    height: 25rem;
    object-fit: cover;
    object-position: center center;
    @media (width < 1000px) {
      height: 100%;
    }

    @media (width < 760px) {
      height: 100%;
    }
  }

  &__title {
    color: var(--card-title-color, var(--text-brand));
    font-size: var(--card-title-font-size, var(--font-size-heading-sm));
  }
}
