.Psychedlic__hero {
  //   text-align: center;
  //   height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  margin-top: -5rem;

  //   1000px
  @media (width < 1000px) {
    height: 60vh;
  }

  // 760
  @media (width < 760px) {
    height: 40vh;
  }

  video {
    min-width: 100%;
    max-width: 100%;

    z-index: -1;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.Psychedlic__overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  //   fixing the font size of the specific hero header
  @media (width < 1000px) {
    .hero__header {
      font-size: var(--font-size-heading-sm);

      span {
        font-size: var(--font-size-heading-md);
      }
    }
  }
  @media (width < 760px) {
    .hero__header {
      font-size: var(--font-size-heading-sm);

      span {
        font-size: var(--font-size-heading-md);
      }
    }
  }
}

.header.psychedlic {
  position: relative;
  z-index: 100000;
}
